#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #212426;
}

h1 {
  color: #ffffff;
  margin-bottom: 20px;
}

#info-box {
  background-color: #ffffff;
  border-radius: 2em;
  width: 80%;
  margin: auto;
  will-change: filter;
  transition: filter 300ms;
}
#info-box:hover {
  filter: drop-shadow(0 0 10px #ffffffc0);
}

.info {
  display: inline-block;
}

#profile-pic {
  height: 150px;
  border-radius: 30%;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.info {
  display: inline-block;
  vertical-align: middle;
  margin: 20px;
}

.info-name {
  text-align: left;
  margin: 10px;
}

#name {
  display: inline;
  font-size: 30px;
}

#name_eng {
  display: inline;
  margin-left: 10px;
  font-size: 15px;
  color: #606060;
}

.info-details {
  text-align: left;
  margin-left: 10px;
}
